/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
# app/storage/  # Hapus atau komentari baris ini

# Laravel 5 & Lumen specific
# public/storage  # Hapus atau komentari baris ini
public/hot

# Laravel 5 & Lumen specific with changed public path
# public_html/storage  # Hapus atau komentari baris ini
public_html/hot

# storage/*.key  # Hapus atau komentari baris ini
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
